
body {
    font-family: Arial, sans-serif;
    background-color: #E6E6FA;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 14px;
}

.container {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 2rem;
}


h1, h2 {
    color: #333;
}

.links {
    margin-top: 1rem;
}

.links a {
    margin-right: 0.5rem;
    color: #5345c2;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

.back-button {
    margin-top: 1rem;
}

.home-body {
    display: flex;
    justify-content: center;
}

.home-container {
    width: 60%;
}

.blog-list-body {
    display: flex;
    justify-content: center;
}

.blog-list-container {
    width: 100%;
}

.blog-post-container {
    width: 100%;
    max-width: 800px;
    margin: 2rem auto;
}

.post-date {
    font-size: smaller;
    color: #888;
}