
body {
    font-family: Arial, sans-serif;
    background-color: #E6E6FA;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 18px;
}

.container {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 2rem;
}

h1, h2 {
    color: #333;
}

.links {
    margin-top: 1rem;
}

.links a {
    margin-right: 0.5rem;
    color: #5345c2;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

.back-button {
    margin-top: 1rem;
    padding-bottom = 20px;
}

.home-body {
    display: flex;
    justify-content: center;
}

.home-container {
    width: 50%;
}

.blog-list-body {
    display: flex;
    justify-content: center;
}

.blog-list-container {
    width: 50%;
}

.blog-post-container {
    width: 50%;
    margin: 2rem auto;
}

.post-date {
    font-size: smaller;
    color: #888;
}

.nav-buttons {
    text-align: right;
    margin-bottom: 24px;
  }
  
  .nav-button {
    padding: 8px 16px;
    margin-left: 8px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #e5e7eb;
    color: #374151;
  }
  
  .nav-button:hover {
    background-color: #d1d5db;
  }
  
  .nav-button.active {
    background-color: #7c3aed;
    color: white;
  }
  
  .content-section {
    display: none;
  }
  
  .content-section.active {
    display: block;
  }
  .two-column-layout {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

p,
li, a {
    font-size: 1.0rem;
}

h3 { font-size: 1.2rem}

.custom-audio {
    display: block;
    margin-bottom: 20px; /* Space between audio players */
  }
  