---
layout: null
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<style>
p,
li {
    font-size: 1rem;
}
</style>


<body class = "blog-list-body">
    
    <div class="container blog-post-container"> 
        <div class="back-button">
            <a href="/blog.html"><< back</a>
        </div>
        <h2>{{ page.title }}</h2>
        <p class="post-date">{{ page.date | date: "%B %d, %Y" }}</p>
        {{ content }}
    </div>
</body>
</html>